* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

#main-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  #main-div {
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #main-div {
    width: 100vmax;
    height: 100vmin;
  }
}
@media screen and (max-width: 1024px) {
  #main-div {
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #main-div {
    width: 100vmax;
    height: 100vmin;
  }
}
@media screen and (max-width: 1400px) and (orientation: landscape) {
  #main-div {
    width: 100vmax;
    height: 100vmin;
  }
}
#main-div #nav-div {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  background-color: #2f3f31;
  color: white;
  font-family: sans-serif;
  text-align: center;
  line-height: 5vh;
}
@media screen and (max-width: 640px) {
  #main-div #nav-div {
    height: 10vh;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #main-div #nav-div {
    height: 16vh;
  }
}
@media screen and (max-width: 1024px) {
  #main-div #nav-div {
    height: 10vh;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #main-div #nav-div {
    height: 16vh;
  }
}
@media screen and (max-width: 1400px) and (orientation: landscape) {
  #main-div #nav-div {
    height: 10vh;
  }
}
#main-div #nav-div div:nth-child(1) {
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../Images/logo-icon.png");
  background-size: 45px;
  align-self: flex-start;
  width: 10%;
  height: 5vh;
}
@media screen and (max-width: 640px) {
  #main-div #nav-div div:nth-child(1) {
    height: 10vh;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #main-div #nav-div div:nth-child(1) {
    height: 16vh;
  }
}
@media screen and (max-width: 1024px) {
  #main-div #nav-div div:nth-child(1) {
    height: 10vh;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #main-div #nav-div div:nth-child(1) {
    height: 16vh;
  }
}
@media screen and (max-width: 1400px) and (orientation: landscape) {
  #main-div #nav-div div:nth-child(1) {
    height: 10vh;
  }
}
@media screen and (max-width: 640px) {
  #main-div #nav-div div:nth-child(1) {
    width: 30vw;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #main-div #nav-div div:nth-child(1) {
    width: 30vw;
  }
}
@media screen and (max-width: 1024px) {
  #main-div #nav-div div:nth-child(1) {
    width: 30vw;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #main-div #nav-div div:nth-child(1) {
    width: 15vw;
  }
}
@media screen and (max-width: 1400px) and (orientation: landscape) {
  #main-div #nav-div div:nth-child(1) {
    width: 15vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
  #main-div #nav-div div:nth-child(1) {
    background-size: 28px;
  }
}
#main-div #nav-div a {
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 10%;
  height: 5vh;
  background-image: url("../Images/hamburger-icon.png");
}
@media screen and (max-width: 640px) {
  #main-div #nav-div a {
    height: 10vh;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #main-div #nav-div a {
    height: 16vh;
  }
}
@media screen and (max-width: 1024px) {
  #main-div #nav-div a {
    height: 10vh;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #main-div #nav-div a {
    height: 16vh;
  }
}
@media screen and (max-width: 1400px) and (orientation: landscape) {
  #main-div #nav-div a {
    height: 10vh;
  }
}
@media screen and (max-width: 640px) {
  #main-div #nav-div a {
    width: 30vw;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #main-div #nav-div a {
    width: 30vw;
  }
}
@media screen and (max-width: 1024px) {
  #main-div #nav-div a {
    width: 30vw;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #main-div #nav-div a {
    width: 15vw;
  }
}
@media screen and (max-width: 1400px) and (orientation: landscape) {
  #main-div #nav-div a {
    width: 15vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
  #main-div #nav-div a {
    background-size: 28px;
  }
}
#main-div #nav-div a:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
#main-div #main-picture {
  height: 95vh;
  width: 100%;
  background-image: url("../Images/background-2.jpg");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main-div #main-picture #main-picture-text {
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 55vh;
  background-image: url("../Images/main-title-text.png");
  background-size: contain;
}
@media screen and (max-width: 640px) {
  #main-div #main-picture #main-picture-text {
    width: 100%;
    height: 30vh;
  }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
  #main-div #main-picture #main-picture-text {
    width: 100%;
    height: 35vh;
  }
}
#main-div #main-picture #main-picture-description {
  width: 60%;
  height: 10vh;
  text-align: center;
  font-size: 1.3em;
  color: #e7e7e7;
}
@media screen and (max-width: 640px) {
  #main-div #main-picture #main-picture-description {
    width: 90%;
    font-size: 1em;
    height: 15vh;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  #main-div #main-picture #main-picture-description {
    font-size: 1em;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #main-div #main-picture #main-picture-description {
    font-size: 1em;
  }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
  #main-div #main-picture #main-picture-description {
    width: 90%;
    height: 15vh;
  }
}
#main-div #main-picture #book-now {
  width: 200px;
  height: 50px;
  border-radius: 29px;
  background: linear-gradient(20deg, #2f3f31 15%, #7db54c);
  box-shadow: 0px 0px 8px -2px black;
  color: #e7e7e7;
  font-size: 1.2em;
  text-align: center;
  line-height: 50px;
}
@media screen and (max-width: 640px) {
  #main-div #main-picture #book-now {
    margin-top: 10px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1000px) and (orientation: landscape) {
  #main-div #main-picture #book-now {
    margin-top: 10px;
  }
}
#main-div #main-picture #book-now:hover {
  cursor: pointer;
  color: #2f3f31;
}

/*# sourceMappingURL=index.css.map */
